<div class="user-sketches">
    <div class="user-sketches--content">
        <% user-sketches.each do |user-sketch| %>
            <%= c("user-sketch", user-sketch: user-sketch) %>
        <% end %>
    </div>
</div>
