<div class="user-sketch">
    <div class="user-sketch--header">
        <span class="user-sketch--artist">
            <%= sketch.artist %>
        </span>
    </div>
</div>
<div class="user-sketch--sketch">

</div>
