<div class="prompt-image-form">
    <label for="prompt-image-form">Choose a prompt image:</label>
    <input class="prompt-image-form--input" type="file" id="prompt-image-form" name="prompt-image-form" accept="image/png, image/jpeg">
</div>
