<div class="user-view">
    <div class="user-view--prompt-image-form">
        <%= c("prompt-image-form") %>
    </div>
    <div class="user-view--prompt-image">
        <%= c("prompt-image") %>
    </div>
    <div class="user-view--sketches">
        <%= c("sketches", sketches: sketches) %>
    </div>
</div>
